body {
  margin: 0;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #666699;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

body {
  background: #eceff1;
}

.dialog {
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  border: solid black;
  border-radius: 5%;
}

.success-icon {
  font-size: 40px;
  color: green;
}

.dialog p {
  margin-bottom: 1rem;
}

.dialog button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.dialog button:hover {
  background-color: #0056b3;
}

#close-img {
  border-radius: 0;
  background-color: #888;
  font-weight: bold;
}

#close-img:hover {
  background-color: red;
}

.create-post-button,
.edit-link,
.feed-link {
  margin: 20px;
}
